<div th:fragment="cabinetConfirmModal">

    <div class="modal cabinet_confirmModal" id="cabinetConfirmModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="message"></div>
                    <div class="cabinet_confirmModalBtns">
                        <button class="btn yesBtn">Yes</button>
                        <button class="btn noBtn" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
