<div th:fragment="langSwitcher" th:if="not ${option_hideLangSwitcher}" class="langSwitcher">
    <a th:classappend="#{locale} != '??locale_fr_FR??' ? active: notActive"
       th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
       th:href="${urlBuilder.replaceQueryParam('lang', 'en_US').toUriString()}" th:text="#{lang.eng}" class="lang-btn"></a>
    <a th:classappend="#{locale} == '??locale_fr_FR??' ? active: notActive"
       th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
       th:href="${urlBuilder.replaceQueryParam('lang', 'fr_FR').toUriString()}" th:text="#{lang.fr}" class="lang-btn"></a>
</div>
