<div th:fragment="topbar" class="topbar container-fluid">

    <a th:href="@{/food}" class="topbarElem">Leo Food</a>
    <a th:href="@{/cabinet}" class="topbarElem">cabinet</a>

    <div th:if="not ${option_hideLangSwitcher}" class="topbarElem topbarElemRight">
        <div class="langSwitcher">
            <a th:classappend="#{locale} != '??locale_fr_FR??' ? 'active hidden' : notActive"
               th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
               th:href="${urlBuilder.replaceQueryParam('lang', 'en_US').toUriString()}" th:text="#{lang.eng}" class="lang-btn"></a>
            <a th:classappend="#{locale} == '??locale_fr_FR??' ? 'active hidden' : notActive"
               th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
               th:href="${urlBuilder.replaceQueryParam('lang', 'fr_FR').toUriString()}" th:text="#{lang.fr}" class="lang-btn"></a>
        </div>
    </div>

    <div th:classappend="${session.username} != null ? '' : hidden"
         th:if="not ${option_hideLoggingIn}" th:text=${session.username} class="topbarElem topbarElemRight topbarUsername"></div>
    <div class="topbarElem topbarElemRight">
        <form th:if="${session.role} != 'PARTNER' and not ${option_hideLoggingIn}"
              th:classappend="${session.username} != null ? '' : hidden"
              th:action="@{/food/logout}" method="post" class="topbarElem topbarElemRight topbarLogoutForm">
            <input class="topbarLogout" type="submit" value="Sign Out"/>
        </form>
    </div>
    <div class="topbarElem topbarElemRight">
        <form th:if="${session.role} == 'PARTNER' and not ${option_hideLoggingIn}"
              th:classappend="${session.username} != null ? '' : hidden"
              th:action="@{/cabinet/logout}" method="post" class="topbarElem topbarElemRight topbarLogoutForm">
            <input class="topbarLogout" type="submit" value="Sign Out"/>
        </form>
    </div>

    <a th:classappend="${session.username} == null ? '' : hidden" th:href="@{/food/login}" class="topbarElem topbarElemRight topbarEnter"
       th:if="${session.role} != 'PARTNER' and not ${option_hideLoggingIn}" data-toggle="modal" data-target="#clientLoginModal">
        enter
    </a>
</div>
