<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head >
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <thymeleaf th:replace="/include/resources :: resources"></thymeleaf>

    <title>Regular home page</title>
</head>
<body>
    <div class="container">
        <div th:replace="/include/menu :: menu"></div>
        <div th:text="#{greeting}"></div>
        <div class="row food_categories">
            <th:block th:each="category: ${categories}">
                <div class="btn food_category" th:text="${category.nameEn}"></div>
            </th:block>
        </div>
        <div class="row food_row">
            <div th:each="restaurant : ${restaurants}" class="col-12 col-sm-4">
                <div class="food_restaurant">
                    <div th:text="${restaurant.name}" class="food_restaurantName"></div>
                </div>
            </div>
        </div>
    </div>



</body>
</html>