<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head >
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <thymeleaf th:replace="/include/resources :: resources"></thymeleaf>

    <script th:src="@{/js/client/food.js}"></script>

    <title>Regular home page</title>
</head>

<body>


<div class="modal" id="clientLoginModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button class="closeBtn" data-dismiss="modal"><i class="fas fa-times"></i></button>
                <div class="clientLoginContent">
                    <form id="loginForm" class="loginForm" th:action="@{/food/login}" method="post">
                        <div class="loginBlock">
                            <input class="loginInput" id="loginPhoneInput" type="text" name="phone" placeholder="Your phone"/>
                            <input class="loginInput hidden" id="loginPasswordInput" type="text" name="password" placeholder="code"/>
                            <span class="loginTimer" id="loginTimer"></span>
                            <!-- <button id="loginSubmitBtn" class="loginSubmitBtn btn" value="Sign In">Send</button> -->
                            <div class="loginWrongOtp hidden">Code is incorrect</div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="/include/components :: components"></div>
<div class="container-fluid food_container-fluid">
    <h1 th:text="#{food.title}" class="food_title"></h1>
    <div class="row food_categories">
        <th:block th:each="category: ${categories}">
            <div class="btn food_category" th:text="${category.name}"></div>
        </th:block>
    </div>
    <button class="btn food_applyFiltersBtn">Apply filters</button>
    <div class="food_restaurants">
        <div class="row food_row">
            <a th:each="restaurant : ${restaurants}" th:href="@{'/food/restaurant/' + ${restaurant.name}} " class="col-12 col-sm-6 col-lg-4 col-xl-3">
                <div class="food_restaurant">
                    <div class="food_restaurantImage">
                        <img th:if="${restaurant.image!= null}" th:src="@{${restaurant.image}}" alt="partner photo">
                        <img th:if="${restaurant.image == null}" src="/images/partner_default.jpg" alt="partner photo">
                        <div class="food_restaurantLogo">
                            <img th:if="${restaurant.logo!= null}" th:src="@{${restaurant.logo}}" alt="partner logo">
                            <img th:if="${restaurant.logo == null}" src="/images/partner_logo_default.jpg" alt="partner logo">
                        </div>
                    </div>
                    <div class="food_restaurantInfo">
                        <div th:text="${restaurant.name}" class="food_restaurantName"></div>
                        <div th:text="${restaurant.minTime + '-' + restaurant.maxTime + ' min'}" class="food_restaurantTime"></div>
                        <div th:text="${restaurant.mainCategory.name}" class="food_restaurantMainCategory"></div>
                    </div>
                </div>
            </a>
        </div>
    </div>

</div>
</body>
</html>