<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <thymeleaf th:replace="/include/resources :: resources"></thymeleaf>

    <title>Regular login page</title>
</head>
<body>
<div class="container">
<div th:replace="/include/components :: components (option_hideLoggingIn = true)"></div>
<h2>Welcome to regular login page!</h2>
<form th:action="@{/food/login}" method="post">
    <div class="loginBlock">
        <input class="loginInput" id="phone" type="text" name="phone" placeholder="phone"/>
        <input class="loginInput" id="password" type="password" name="password" placeholder="password"/>
        <input class="btn" type="submit" value="Sign In"/>
        <div class="loginError" th:if="${param.error}">
            Invalid phone and/or password.
        </div>
    </div>
</form>
</div>
</body>
</html>