<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <thymeleaf th:replace="/include/resources :: resources (option_partnerCabinet = true)"></thymeleaf>

    <script th:inline="javascript">
      /*<![CDATA[*/
        var confirmModalDeleteProductMessage = /*[[#{cabinet.confirm.delete.product}]]*/ 0;
        var confirmModalDeleteSectionMessage = /*[[#{cabinet.confirm.delete.section}]]*/ 0;
      /*]]>*/
    </script>

    <script th:src="@{/js/cabinet/cabinet.js}"></script>

    <title>Restaurant Cabinet</title>
</head>
<body>
<div th:replace="/include/cabinetConfirmModal :: cabinetConfirmModal"></div>
<div th:replace="/include/cabinetMessageModal :: cabinetMessageModal"></div>
<div th:replace="/include/menu :: menu"></div>
<div class="container-fluid cabinet-container-fluid">
    <h1 class="cabinet_title">Cabinet</h1>
    <section class="cabinet_panel">
        <a th:href="@{/cabinet/new_section}" class="btn cabinet_AddSectionBtn">Add section</a>
        <a th:href="@{/cabinet/new_product}" class="btn cabinet_AddProductBtn">Add product</a>
    </section>

    <section class="cabinet_errorMessageBlock" th:if="${errorMessage != null}" th:text="${errorMessage}">
    </section>

    <section>
        <div class="cabinet_blockTitle">Image & logo</div>
        <div class="cabinet_image">
            <img th:if="${partner.image != null}" th:src="@{${partner.image}}" alt="partner photo">
            <img th:if="${partner.image == null}" src="/images/partner_default.jpg" alt="partner photo">
        </div>
        <form class="cabinet_imageUploadForm" method="POST" enctype="multipart/form-data" name="loadPartnerImageForm">
            <input type="file" name="file" id="loadPartnerImageInput">
            <button type="submit" class="btn" id="loadPartnerImageBtn">Upload</button>
        </form>
        <div class="cabinet_logo">
            <img th:if="${partner.logo != null}" th:src="@{${partner.logo}}" alt="partner photo">
            <img th:if="${partner.logo == null}" src="/images/partner_logo_default.jpg" alt="partner logo">
        </div>
        <form class="cabinet_imageUploadForm" method="POST" enctype="multipart/form-data" name="loadPartnerLogoForm">
            <input type="file" name="file" id="loadPartnerLogoInput">
            <button type="submit" class="btn" id="loadPartnerLogoBtn">Upload</button>
        </form>
    </section>

    <section class="cabinet_sectionsBlock" th:classappend="${#arrays.length(partner.sections)} != 0 ? '' : 'empty'">
        <div class="cabinet_blockTitle">Sections & dishes</div>
        <div class="emptyMessage" >No sections yet</div>
        <div th:each="section : ${partner.sections}" th:attr = "data-section-id = ${section.id}"
             th:attrappend = "default-section = ${section.name == defaultSectionName ? true : false}" class="sectionBlock">

            <div th:text="${section.name}" class="cabinet_sectionName"></div>
            <button th:if="${section.name} != ${defaultSectionName}" class="cabinet_removeBtn cabinet_removeSectionBtn" title="remove">
                <i class="fas fa-times"></i>
            </button>
            <a th:href="@{/cabinet/modify_section/} + ${section.id}" th:if="${section.name} != ${defaultSectionName}" class="cabinet_modifyBtn" title="modify">
               <i class="fas fa-pencil-alt"></i>
            </a>
            <div class="cabinet_sectionProducts row" th:classappend="${#arrays.length(section.products)} != 0 ? '' : empty">
                <div class="emptyMessage">No products</div>
                <div th:each="product : ${section.products}" class="product-col col-12 col-sm-3">
                    <div class="product" th:attr = "data-product-id = ${product.id}">
                        <div class="product_image">
                            <img th:if="${product.image != null}" th:src="@{${product.image}}" alt="dish photo">
                            <img th:if="${product.image == null}" src="/images/product_default.jpg" alt="dish photo">
                        </div>
                        <div class="cabinet_productBtns">
                            <button class="cabinet_removeBtn cabinet_removeProductBtn" title="remove">
                                <i class="fas fa-times"></i>
                            </button>
                            <a th:href="@{/cabinet/modify_product/} + ${product.id}" class="cabinet_modifyBtn" title="modify">
                                <i class="fas fa-pencil-alt"></i>
                            </a>
                        </div>
                        <div class="product_info">
                            <div th:text="${product.name}" class="product_name"></div>
                            <div th:text="${product.description}" class="product_description"></div>
                        </div>
                        <div class="cabinet_moveToSection">
                            <button class="btn cabinet_moveToSectionBtn">Move to section</button>
                            <select class="cabinet_moveToSectionSelect" name="newProductsSection">
                                <option th:each="section : ${partner.sections}" th:attr='data-section-id = ${section.id}' th:text="${section.name}"></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="cabinet_sectionsBlock">
        <div class="cabinet_blockTitle">Settings</div>
        <form action="#" th:action="@{/cabinet/modify_partner_settings}" th:object="${partnerSettingsDto}" method="post"
          required="true" role="form" class="cabinet_form">
            <div class="cabinet_formLabel">Minimum delivery time</div>
            <ul class="cabinet_formErrors">
                <li class="cabinet_formError" th:each="err : ${#fields.errors('minTime')}" th:text="${err}" ></li>
            </ul>
            <input class="cabinet_formInput" th:field="*{minTime}" required name="minTime">
            <div class="cabinet_formLabel">Maximum delivery time</div>
            <ul class="cabinet_formErrors">
                <li class="cabinet_formError" th:each="err : ${#fields.errors('maxTime')}" th:text="${err}" ></li>
            </ul>
            <input class="cabinet_formInput" th:field="*{maxTime}" required name="maxTime">
            <div class="cabinet_formLabel">Minimum order price</div>
            <ul class="cabinet_formErrors">
                <li class="cabinet_formError" th:each="err : ${#fields.errors('minPrice')}" th:text="${err}" ></li>
            </ul>
            <input class="cabinet_formInput" th:field="*{minPrice}" required name="minPrice">
            <input type="submit" class="btn submitBtn" value="Save">
        </form>
    </section>
</div>
</body>
</html>
  