<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <thymeleaf th:replace="/include/resources :: resources"></thymeleaf>

    <title>New section</title>
</head>
<body>
<div class="container">
    <div th:replace="/include/menu :: menu"></div>
    <h1 class="cabinet_title">New Section</h1>
    <section class="cabinet_errorMessageBlock" th:if="${errorMessage != null}" th:text="${errorMessage}">
    </section>
    <section>
        <form action="#" th:action="@{/cabinet/new_section}" th:object="${sectionDto}" method="post"
              data-toggle="validator" required="true" role="form" class="cabinet_form">
            <input th:field="*{name}" class="cabinet_formInput" id="sectionName" required placeholder="Name">
            <input th:field="*{description}" class="cabinet_formInput" id="sectionDescription" required placeholder="Description">
            <input type="submit" class="btn submitBtn" value="Add">
        </form>
    </section>
</div>
</body>
</html>