.loginError {
    padding: 15px;
    margin-bottom: 20px;
    color: #a94442;
    background-color: #f2dede;
}
.loginInfo {
    padding: 15px;
    margin-bottom: 20px;
    color: #31708f;
    background-color: #d9edf7;
}

.topbar-link {
  margin:10px 0 20px 0;
  display:inline-block;
  margin-right: 20px;
  color:black;
}

.loginBlock .loginInput {
  display:block;
}

.langSwitcher {

}
.langSwitcher . {

}
