a:hover {
  text-decoration:none;
}

.hidden {
  display:none !important;
}

.btn {
  transition:all .1s ease;
  background:transparent;
  border:2px solid green;
  border-radius:8px;
  color:green;
}
.btn:hover {
  background:green;
  color:white;
}


.loginError {
    padding: 15px;
    margin:15px 0;
    color: #a94442;
    background-color: #f2dede;
}
.loginInfo {
    padding: 15px;
    margin-bottom: 20px;
    color: #31708f;
    background-color: #d9edf7;
}

.topbar {
  position:-webkit-sticky;
  position:sticky;
  top: 0;
  z-index:50;
  background:white;
  padding:15px;
  height:80px;
}
.topbarElem {
  display:inline-block;
  float:left;
  color:black;
  margin-right: 20px;
}
.topbarElem:hover {
  color:green;
}
.topbarElemRight {
  float:right;
  margin-left: 20px;
  margin-right:0;
}
.topbarUsername {
  color:green;
}
.topbarEnter {
  color:green;
}
.topbarEnter:hover {
  color:green;
}
.topbarLogoutForm {
  display:inline-block;
}
.topbarLogout {
  cursor:pointer;
  color:green;
  background:transparent;
  border-radius:8px;
  border:2px solid green;
}
.topbarLogout:hover {
  background:green;
  color:white;
}

.loginBlock {
  padding-top:30px;
}
.loginBlock .loginInput {
  padding:0 10px;
  display:block;
  width:100%;
  margin-bottom:20px;
  height:40px;
  font-size:15px;
  border:none;
  border-bottom:1px solid #bbb;
  color:black;
}
.loginBlock .loginInput:disabled {
  background:white;
  color:#888;
}
#loginPasswordInput {
  display:inline-block;
  width:80px;
  color:green;
  /*
  border:1px solid #bbb;
  border-radius:5px;
  */
}
.loginBlock .loginSubmitBtn {
  cursor:pointer;
  border-radius:10px;
  border:2px solid
}
.loginWrongOtp {
  color:red;
  font-size:12px;
}
.loginTimer {
  color:#999;
}

.langSwitcher {
  background:green;
  color:white;
  display:inline-block;
  border-radius:8px;
  overflow:hidden;
  border:2px solid green;
}
.langSwitcher .lang-btn {
  transition:all .1s ease;
  background:white;
  padding:0 10px;
  display:inline-block;
  margin:0;
  cursor:pointer;
  border:none;
  color:#555;
}
.langSwitcher .lang-btn:hover {
  color:green;
}
.langSwitcher .lang-btn.active {
  display:inline-block;
  background:green;
  color:white;
}

#clientLoginModal .modal-dialog {
  width:250px !important;
}
#clientLoginModal .modal-body {
  padding-top:5px;
}
#clientLoginModal .closeBtn {
  position:absolute;
  right:5px;
  width:40px;
  height:40px;
  color:#aaa;
  background:transparent;
  border:none;
  cursor:pointer;
  font-size:19px;
  line-height:20px;
}
#clientLoginModall .closeBtn:hover {
  color:green;
}

.sectionBlock {
  margin-top:20px;
}

/* choose city / district */

.chooseCity {
  text-align:center;
}
.chooseCity_greeting {
  margin:20px 0;
}
.chooseCity h1 {
  font-size:28px;
  margin:20px 0;
}
.chooseLocation_row {
  padding:20px 0;
}
.chooseLocation_message {
  font-size:30px;
  margin-top:20px;
}
.chooseLocation_city {
  width:48%;
}
.chooseLocation_city.wide {
  width:100%;
}
.chooseLocation_btn {
  width:90%;
  margin-left:5%;
  margin-bottom:20px;
  font-size:20px;
  padding:40px 10px;;
  border-radius:5px;
  cursor:pointer;
}
.chooseLocation_back {
  background:transparent;
  color:green;
  border:none;
  font-size:20px;
  cursor:pointer;
  margin-left:20px;
}
.chooseLocation_back:hover {
  color:#2a2;
}
.chooseLocation_back .icon {
  margin-right:10px;
}

/* cabinet */

.cabinet-container-fluid {
  background:#fbfbfb;
  padding:20px 60px;
  padding-bottom:50px;
}
.cabinet_section {
  border-top:1px splid black;
  padding-top:20px;
}
.cabinet_title {
  font-size:30px;
  margin-bottom:30px;
}
.cabinet_panel {
  margin-top:30px;
  margin-bottom:20px;
}
.cabinet_panel .btn {
  font-size:13px;
  margin-right:20px;
}
.cabinet_errorMessageBlock{
  padding:10px 0;
  margin:10px;
  color:red;
}
.cabinet_errorMessage{
  color:red;
}
.cabinet_blockTitle {
  font-size:20px;
  color:green;
  margin-top:30px;
  margin-bottom:20px;
}
.cabinet_sectionName {
  font-size:20px;
  margin:20px 0;
  display:inline-block;
}
.cabinet_sectionProducts {
}
.cabinet_sectionProducts.empty .emptyMessage {
  display:block;
}
.cabinet_imageUploadForm {
  margin:20px 0;
}
.cabinet_form {
}
.cabinet_formErrors {
  margin-top:10px;
  padding:0;
}
.cabinet_formError {
  list-style-type:none;
  color:red;
}
.cabinet_formLabel {
  margin-top:20px;
  margin-bottom:5px;
}
.cabinet_formInput {
  border:1px solid #ddd;
  border-radius:5px;
  font-size:15px;
  width:100%;
  margin-bottom:10px;
  padding:10px;
}

.cabinet_form .submitBtn {
  width:auto;
  padding:5px 20px;
  margin-top:25px;
}
.emptyMessage {
  display:none;
  padding-left:20px;
  color:#888;
}
.cabinet_productBtns {
  padding:0 10px;
}
.cabinet_sectionsBlock.empty .emptyMessage {
  display:block;
}
.cabinet_removeBtn {
  background:transparent;
  border:none;
  display:inline-block;
  margin-top:-5px;
  font-size:13px;
  color:red;
  cursor:pointer;
}
.cabinet_removeBtn:hover {
}
.cabinet_modifyBtn {
  margin-top:-5px;
  font-size:13px;
}
.cabinet_image {
}
.cabinet_image img {
  width:80%;
  height:auto;
}
.cabinet_logo img {
  width:250px;
  height:auto;
}

.cabinet_confirmModal {
  text-align:center;
}
.cabinet_confirmModal .modal-dialog {
  width:350px !important;
}
.cabinet_confirmModal .message {
  text-align:left;
}
.cabinet_confirmModalBtns {
  margin-top:20px;
}

.cabinet_moveToSection {
  margin:10px 0;
  padding:0 10px;
}
.cabinet_moveToSectionBtn {
  padding:5px 10px;
  font-size:14px;
  border-radius:8px;
  margin-left:10px;
  margin-top:-3px;
}
.cabinet_moveToSectionSelect {
  padding:5px;
}

.cabinet_messageModal {
  text-align:center;
}
.cabinet_messageModal .message {
  padding:0 10px;
  width:100%;
  text-align:left;
}
.cabinet_messageModal .errorMessage {
  color:#d00;
}
.cabinet_messageModal .closeBtn {
  background:white;
  margin-top:20px;
}
.cabinet_messageModal .closeBtn:hover {
  background:green;
}
.cabinet_mainCategoryName {
  color:green;
}
.cabinet_mainCategorySelectBlock {
  margin:20px 0;
}
.cabinet_categoriesSubmitBtn {
  font-size:14px;
  padding:9 10px;
  margin-left:10px;
  margin-top:-3px;
  border-radius:8px;
}
.cabinet_categoriesList {
  margin:20px 0;
}
.cabinet_category {
  display:inline-block;
  margin-right:10px;
  color:green;
  font-size:14px;
}
.cabinet_categoryName {
  display:inline-block;
}
.cabinet_categoryRemoveBtn {
  display:inline-block;
}

.food_container-fluid {
  background:#fbfbfb;
  padding:20px 60px 0px 60px;
  padding-bottom:50px;
}
.food_title {
  font-size:30px;
}
.food_restaurants {
  margin:30px 0;
}
.food_row {
  margin-top:20px auto;
}
.food_restaurant {
  padding-bottom:5px;
  color:black;
  border-radius:10px;
  overflow:hidden;
  background:white;
  transition:margin .1s ease;
}
.food_restaurant:hover {
  margin-top:-2px;
  box-shadow: 0 10px 10px 0 rgba(0,0,0,0.1);
}
.food_restaurantInfo {
  position:relative;
  padding:0 10px;
}
.food_restaurantName {
  font-size:23px;
  margin:10px 0;
  color:black;
}
.food_restaurantImage {
  height:160px;
  overflow:hidden;
  position:relative;
}
.food_restaurantLogo {
  width:50px;
  height:50px;
  padding:5px;
  background:white;
  border-radius:5px;
  position:absolute;
  left:10px;
  bottom:10px;
}
.food_restaurantLogo img {
  width:100%;
  height:auto;
}
.food_restaurantImage img {
  width:100%;
  height:auto;
}
.food_restaurantTime {
  font-size:14px;
  line-height:35px;
  position:absolute;
  top:0;
  right:10px;
  padding-left:15px;
}
.food_restaurantMaincategory {
  font-size:14px;
  color:#444;
}

.food_categories {
  padding:30px 0;
  margin:auto;
}
.food_category {
  border-radius:5px;
  padding:5px;
  margin-right:15px;
  border-color:#ccc;
  color:#555;
  transition:box-shadow .2s ease;
}
.food_category:hover {
  background:#555;
  color:white;
  box-shadow: 0 7px 7px 0 rgba(0,0,0,0.1);
}
.food_category.selected {
  background:#888;
  color:white;
  box-shadow: 0 7px 7px 0 rgba(0,0,0,0.1);
}

.restaurant_info {
  height:200px;
  overflow:hidden;
  position:relative;
  padding:15px;
}
.restaurant_info .overlay {
  width:100%;
  height:100%;
  position:absolute;
  left:0;
  top:0;
  opacity:0.3;
  background:black;
  z-index:5;
}
.restaurant_photo {
  left:0;
  top:0;
  position:absolute;
  width:100%;
  height:100%;
  z-index:1;
}
.restaurant_photo img {
  left:0;
  top:-30%;
  width:100%;
  height:auto;
}
.restaurant_logo {
  width:140px;
  height:140px;
  z-index:100;
  position:absolute;
  right:30px;
  bottom:30px;
  background:white;
  border-radius:5px;
  padding:5px;
}
.restaurant_logo img {
  width:100%;
  height:auto;
}
.restaurant_info_name {
  color:white;
  z-index:10;
  position:relative;
  margin-top:10px;
  font-size:45px;
}
.restaurant_info_link {
  position:relative;
  color:white;
  z-index:10;
  color:white;
}
.restaurant_info_link:hover {
  color:white;
}
.restaurant_info_back {
}
.restaurant_info_back:before {
  font-family: "Font Awesome 5 Free";
  content:"\f060";
  position:absolute;
  left:-25px;
  top:-1px;
  font-size:20px;
  color:white;
}
.restaurant_mainArea {
  background:#fbfbfb;
}

.restaurant_sectionLinks {
  padding:20px;
}
.restaurant_sectionLink {
  font-size:18px;
  display:inline-block;
  margin-right:20px;
}
.restaurant_sectionLink a {
  color:#444;
}
.restaurant_sectionLink a:hover {
  color:green;
}
.restaurant_sections {
  padding:0 30px;
}
.restaurant_section {
  margin:20px 0;
}
.restaurant_sectionTitle {
  font-size:27px;
}
.restaurant_products.empty .emptyMessage {
  display:block;
}

.product {
  background:white;
  padding-bottom:10px;
  margin-bottom:20px;
}
.product_info {
    padding:10px;
}
.product_name {
  font-size:17px;
}
.product_description {
  margin-top:5px;
  font-size:14px;
  color:#555;
}
.product_image {
  width:100%;
  height:auto;
}
.product_image img {
  width:100%;
  height:auto;
}
.product_imageFixed img {
  width:300px;
  height:auto;
}

