a:hover {
  text-decoration:none;
}

.hidden {
  display:none !important;
}

.btn {
  transition:all .1s ease;
  background:white;
  border:2px solid green;
  border-radius:15px;
  color:green;
}
.btn:hover {
  background:green;
  color:white;
}


.loginError {
    padding: 15px;
    margin:15px 0;
    color: #a94442;
    background-color: #f2dede;
}
.loginInfo {
    padding: 15px;
    margin-bottom: 20px;
    color: #31708f;
    background-color: #d9edf7;
}

.topbar {
  padding:15px 0;
  height:80px;
}
.topbarElem {
  display:inline-block;
  float:left;
  color:black;
  margin-right: 20px;
}
.topbarElem:hover {
  color:green;
}
.topbarElemRight {
  float:right;
  margin-left: 20px;
  margin-right:0;
}
.topbarUsername {
  color:green;
}
.topbarEnter {
  color:green;
}
.topbarEnter:hover {
  color:green;
}
.topbarLogoutForm {
  display:inline-block;
}
.topbarLogout {
  cursor:pointer;
  color:green;
  background:transparent;
  border-radius:8px;
  border:2px solid green;
}
.topbarLogout:hover {
  background:green;
  color:white;
}

.loginBlock {
  padding-top:30px;
}
.loginBlock .loginInput {
  padding:0 10px;
  display:block;
  width:100%;
  margin-bottom:20px;
  height:40px;
  font-size:15px;
  border:none;
  border-bottom:1px solid #bbb;
  color:black;
}
.loginBlock .loginInput:disabled {
  background:white;
  color:#888;
}
#loginPasswordInput {
  display:inline-block;
  width:80px;
  color:green;
  /*
  border:1px solid #bbb;
  border-radius:5px;
  */
}
.loginBlock .loginSubmitBtn {
  cursor:pointer;
  border-radius:10px;
  border:2px solid
}
.loginWrongOtp {
  color:red;
  font-size:12px;
}
.loginTimer {
  color:#999;
}

.langSwitcher {
  background:green;
  color:white;
  display:inline-block;
  border-radius:8px;
  overflow:hidden;
  border:2px solid green;
}
.langSwitcher .lang-btn {
  transition:all .1s ease;
  background:white;
  padding:0 10px;
  display:inline-block;
  margin:0;
  cursor:pointer;
  border:none;
  color:#555;
}
.langSwitcher .lang-btn:hover {
  color:green;
}
.langSwitcher .lang-btn.active {
  display:inline-block;
  background:green;
  color:white;
}

.modal-dialog {
  width:250px !important;
}
.modal-body {
  padding-top:5px;
}
.modal .closeBtn {
  position:absolute;
  right:5px;
  width:40px;
  height:40px;
  color:#aaa;
  background:transparent;
  border:none;
  cursor:pointer;
  font-size:19px;
  line-height:20px;
}
.modal .closeBtn:hover {
  color:green;
}

.sectionBlock {
  margin-top:20px;
}

/* choose city / district */

.chooseCity {
  text-align:center;
}
.chooseCity_greeting {
  margin:20px 0;
}
.chooseCity h1 {
  font-size:28px;
  margin:20px 0;
}
.chooseCity_btns {
  padding:20px 0;
}
.chooseCity_btn {
  width:90%;
  margin-left:5%;
  margin-bottom:20px;
  font-size:20px;
  padding:20px 10px;;
  border-radius:5px;
  cursor:pointer;
}

/* cabinet */

.cabinet_panel {
  margin-top:30px;
  margin-bottom:20px;
}
.cabinet_panel .btn {
  font-size:13px;
  margin-right:20px;
}
.cabinet_errorBlock{
  padding:10px 0;
  margin:10px;
}
.cabinet_errorMsg{
  color:red;
}
.cabinet_blockTitle {
  font-size:20px;
  color:green;
  margin-top:30px;
}
.cabinet_sectionName {
  font-size:20px;
  margin:20px 0;
  display:inline-block;
}
.cabinet_addForm {
}
.cabinet_addForm input {
  width:100%;
  margin-top:20px;
  font-size:15px;
  padding:10px;
}
.cabinet_addForm .submitBtn {
  width:auto;
  padding:5px 20px;
}
.cabinet_empty {
  padding-left:20px;
  color:#888;
}
.cabinet_removeBtn {
  background:transparent;
  border:none;
  display:inline-block;
  margin-top:-5px;
  margin-left:10px;
  font-size:13px;
  color:red;
  cursor:pointer;
  padding:2px 10px;
}
.cabinet_removeBtn:hover {
}
.cabinet_modifyBtn {
  margin-top:-5px;
  padding:2px 10px;
  font-size:13px;
}
.cabinet_image {
  margin:20px 0;
  width:100%;
  height:200px;
  overflow:hidden;
}
.cabinet_image img {
  width:100%;
}

.food_row {
  margin:20px 0;
}
.food_restaurant {
  border:1px solid green;
  border-radius:10px;
  text-align:center;
  padding:10px;
}
.food_categories {
  margin:20px 0;
}
.food_category {
  border-radius:5px;
  padding:5px;
  margin-right:10px;
}
