<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head >
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <thymeleaf th:replace="/include/resources :: resources"></thymeleaf>

    <title th:text="#{choose.district}"></title>
</head>
<body>
    <div class="container">
        <section class="chooseCity">
            <div class="chooseCity_greeting" th:text="#{greeting}"></div>
            <div th:replace="/include/langSwitcher :: langSwitcher"></div>
            <h1 th:text="#{choose.district}"></h1>
            <a th:href="@{/choose}" class="chooseCity_link"></a>

            <div class="row chooseCity_btns">
                <div th:each="district: ${districts}" class="col-12 col-sm-6">
                    <a th:href="@{/food} + '?city=' + ${city} + '&district=' + ${district}" class="btn chooseCity_btn" th:text="${district}"></a>
                </div>
            </div>
         </section>
    </div>
</body>
</html>