<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <thymeleaf th:replace="/include/resources :: resources"></thymeleaf>

    <title>Contractor login page</title>
</head>
<body>
<div class="container">
<div th:replace="/include/menu :: menu"></div>
<h2>Please log in to enter your cabinet</h2>
<form th:action="@{/contractor/login}" method="post">
    <div class="loginBlock">
        <input class="loginInput" type="text" name="username" placeholder="name"/>
        <input class="loginInput" type="password" name="password" placeholder="password"/>
        <input type="submit" value="Sign In"/>
        <div class="loginErrorr" th:if="${param.error}">
            Invalid username and/or password.
        </div>
        <div class="loginInfo" th:if="${param.logout}">
            You have been logged out.
        </div>
    </div>
</form>
</div>
</body>
</html>