<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <thymeleaf th:replace="/include/resources :: resources"></thymeleaf>

    <title>New product</title>
</head>
<body>
<div class="container">
    <div th:replace="/include/menu :: menu"></div>
    <h2>New Product</h2>
    <div th:if="${param.errorMsg != null}" class="cabinet_errorBlock">
        <div th:text="${param.errorMsg}" class="cabinet_errorMsg"></div>
    </div>
    <form action="#" th:action="@{/contractor/cabinet/add_product}" th:object="${productDto}" method="post"
          data-toggle="validator" required="true" role="form" class="cabinet_addForm">
        <input th:field="*{name}" class="login-form-input" id="productName" required placeholder="Name" name="login">
        <input th:field="*{description}" class="login-form-input" id="productDescription" required placeholder="Description" name="login">
        <input type="submit" class="btn submitBtn" value="Add">
    </form>
</div>
</body>
</html>