<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <thymeleaf th:replace="/include/resources :: resources"></thymeleaf>

    <title>New product</title>
</head>
<body>
<div th:replace="/include/menu :: menu"></div>
<div class="container-fluid cabinet-container-fluid">
    <h1 class="cabinet_title">New Product</h1>
    <section class="cabinet_errorMessageBlock" th:if="${errorMessage != null}" th:text="${errorMessage}">
    </section>
    <section>
        <form class="cabinet_form" action="#" th:action="@{/cabinet/new_product}" th:object="${productDto}" method="post"
              data-toggle="validator" required="true" role="form">
            <div class="cabinet_formLabel">Name</div>
            <input th:field="*{name}" class="cabinet_formInput" id="product_name" required name="name">
            <div class="cabinet_formLabel">Description</div>
            <input th:field="*{description}" class="cabinet_formInput" id="product_description" required name="description">
            <input type="submit" class="btn submitBtn" value="Add">
        </form>
    </section>
</div>
</body>
</html>